<!-- SWAMI KARUPPASWAMI THUNNAI -->

<!DOCTYPE html>
<html>
<head>
	<title>ServerBee Dashboard</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script type="text/javascript">

		google.charts.load("current", {"packages": ["corechart"]})
		function draw_primary_memory_pie()
		{
			let primary_memory_data = google.visualization.arrayToDataTable([
					["Usage", "Percentage"],
					["Used", {{pm_usage['used']}}],
					["Free", {{pm_usage['free']}}]
				]);

			let options = {"title": "PRIMARY MEMORY(RAM) USAGE", "height": 500, "width": 500};
			let chart = new google.visualization.PieChart(document.getElementById('primary_memory_pie'));
			chart.draw(primary_memory_data, options);
		}
		google.charts.setOnLoadCallback(draw_primary_memory_pie);
	</script>


	<script type="text/javascript">
		google.charts.load("current", {"packages": ["corechart"]})
		function draw_secondary_memory_pie()
		{
			let secondary_memory_data = google.visualization.arrayToDataTable([
				["Usage", "Percentage"],
				["Used", {{sm_usage["used"]}}],
				["Free", {{sm_usage["free"]}}]
				]);
			let options = {"title": "SECONDARY MEMORY USAGE", "height": 500, "width": 500};
			let chart = new google.visualization.PieChart(document.getElementById('secondary_memory_pie'));
			chart.draw(secondary_memory_data, options);
		}
		google.charts.setOnLoadCallback(draw_secondary_memory_pie);
	</script>


	<!-- DATATABLES -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
		  $('#process_memory_usage_table').DataTable({
		    "pagingType": "simple"
		  });
		});
	</script>
	<!-- Soon we need to move the entire graphs to plotly -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <ul class="navbar-nav">
	    <li class="nav-item active">
	      <a class="nav-link" href="/memory">Memory</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/network">Network</a>
	    </li>
	     <li class="nav-item">
	      <a class="nav-link" href="/change_password">Change Password</a>
	    </li>
	  </ul>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div id="primary_memory_pie">
				</div>
			</div>

			<div class="col-sm">
				<div id="secondary_memory_pie">
				</div>
			</div>
		</div>

		<div class="text-center">
			<strong>PARTITIONS</strong>
		</div>

		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>SNO</th>
					<th>DEVICE</th>
					<th>MOUNT POINT</th>
					<th>FILESYSTEM</th>
					<th>DISK USAGE</th>
				</tr>
			</thead>

			<tbody>
				{% for i in hard_disk_information %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{i["device"]}}</td>
						<td>{{i["mount_point"]}}</td>
						<td>{{i["fs_type"]}}</td>
						<td>
							<div class="progress">
								{% set progress_val = (i["used"]/i["total"])*100 %}
								{% if progress_val <= 50 %}
									<div class="progress-bar bg-primary" style="width: {{progress_val}}%"></div>
								{% elif progress_val <= 70 %}
									<div class="progress-bar bg-warning" style="width: {{progress_val}}%"></div>
								{%else %}
									<div class="progress-bar bg-danger" style="width: {{progress_val}}%"></div>
								{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="text-center">
			<strong>PROCESSES</strong>
		</div>

		<table class="table table-striped table-bordered table-sm" id="process_memory_usage_table">
			<thead class="thead-dark">
				<tr>
					<th>SNO</th>
					<th>PROCESS ID</th>
					<th>PROCESS NAME</th>
					<th>MEMORY USED</th>
					<th>PERCENTAGE</th>
				</tr>
			</thead>

			<tbody>
				{% for process in process_memory_usage %}
					<tr>
						<td>{{loop.index}}</td>
						<td>
							<a href="#" data-toggle="modal" data-target="#process-{{process['id']}}">{{process["id"]}}</a>

							<div class="modal fade" id="process-{{process['id']}}">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h3><img src="/static/chip.png" style="height: 40px; width: 40px" />Process Id: {{process["id"]}}</h3>
										</div>

										<div class="modal-body">
											<form method="POST" action="/kill_process">
												<input type="hidden" name="process_id" value="{{process['id']}}">
												<button type="submit" class="btn btn-danger">KILL PROCESS</button>
											</form>
										</div>

										<div class="modal-footer">
											<i>Make sure you kill the right process!</i>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td>{{process["name"]}}</td>
						<td>{{process["memory"]}} bytes</td>
						<td>
							<div class="progress">
								{% if process["memory_percent"] <= 50 %}
									<div class="progress-bar bg-primary" style="width: {{process['memory_percent']}}%"></div>
								{% elif process["memory_percent"] <= 70 %}
									<div class="progress-bar bg-warning" style="width: {{process['memory_percent']}}%"></div>
								{% else %}
									<div class="progress-bar bg-danger" style="width: {{process['memory_percent']}}%"></div>
								{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="text-center">
			<h3>Process and Memory Consumption</h3>
		</div>

		<div id="process_graph"></div>

		<script type="text/javascript">
			let process_data = [
				{
					values: {{process_memory_graph[1] | tojson }},
					labels: {{process_memory_graph[0] | tojson }},
					type: "pie"
				}
			];
			Plotly.newPlot("process_graph", process_data);
		</script>
	</div>
</body>
</html>